# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\VS Code\Node-Tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
